@font-face
    font-family: 'AllerDisplay'
    src: url('https://www.dropbox.com/s/08ze9cb87yie89m/AllerDisplay.ttf')


body
    margin: 0
    padding: 0


.App
    position: absolute
    left: 0
    top: 0
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100%
    overflow: hidden
    background-image: url("http://i430.photobucket.com/albums/qq29/JustineOwl/Background_zpsbgebmfha.png")


.GameBoard
    position: relative
    z-index: 2
    display: flex
    flex-flow: row wrap
    width: 80%
    max-width: 800px
    min-width: 650px
    height: 460px
    border-radius: 10px
    background-color: rgb(245, 245, 245)
    box-shadow: 0 3px 95px 0 rgba(0, 0, 0, 0.26)

    &:after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: 0
        height: 0
        z-index: -1
        border-bottom: 245px solid rgb(77, 105, 250)
        border-left: 245px solid transparent



.GameBoard__input
    position: absolute
    top: -1000px
    left: -1000px


.HangmanImage
    width: 50%
    height: 75%


.MissedLetters
    width: 50%
    height: 75%


.MissedLetters__title
    margin-bottom: 0
    margin-top: 1.7em
    font-size: 1.3rem
    font-family: 'AllerDisplay', 'Helvetica Neue', sans-serif
    color: rgb(83, 85, 93)
    text-transform: uppercase
    line-height: 1.282
    text-align: left


.MissedLetters__letters
    margin: 0
    font-size: 2.5rem
    font-family: 'AllerDisplay', 'Helvetica Neue', sans-serif
    color: rgb(77, 105, 250)
    text-align: left
    letter-spacing: 0.2em
    word-wrap: break-word


.Word
    display: flex
    width: 100%
    height: 110px


.Word__letters-list
    display: flex
    align-items: stretch
    width: 100%
    padding: 0 40px
    margin-bottom: 1.5rem
    list-style: none


.Word__Letter
    width: 9%
    margin: 2px
    padding: 1.4rem 0
    font-size: 2.5rem
    font-family: 'AllerDisplay', 'Helvetica Neue', sans-serif
    color: rgb(255, 255, 255)
    line-height: 0.54
    text-align: center
    border-radius: 6px
    background-color: rgb(80, 82, 90)
    opacity: 0.98

    &--disabled
        @extend .Word__Letter
        opacity: 0.302




.HangmanImage img
    position: absolute


.HangmanImage__bar
    width: 119px
    height: 29px
    top: 38px
    left: 0


.HangmanImage__head
    width: 86px
    top: 62px
    left: 63px
    z-index: 10


.HangmanImage__neck
    width: 21px
    top: 148px
    left: 95px
    z-index: 9


.HangmanImage__corpus
    width: 52px
    top: 169px
    left: 80px
    z-index: 10


.HangmanImage__left-arm
    width: 57px
    top: 170px
    left: 41px
    z-index: 9


.HangmanImage__left-hand
    width: 15px
    top: 213px
    left: 38px
    z-index: 8


.HangmanImage__right-arm
    width: 57px
    top: 170px
    left: 114px
    z-index: 9


.HangmanImage__right-hand
    width: 15px
    top: 213px
    left: 159px
    z-index: 8
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)


.HangmanImage__left-leg
    width: 38px
    top: 243px
    left: 65px
    z-index: 8


.HangmanImage__left-foot
    width: 45px
    top: 317px
    left: 41px
    z-index: 7


.HangmanImage__right-leg
    width: 38px
    top: 243px
    left: 109px
    z-index: 8
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)


.HangmanImage__right-foot
    width: 45px
    top: 317px
    left: 126px
    z-index: 7
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)


.Overlay
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(59, 65, 99, 0.741)


.GameOver-Informations__wrapper
    text-align: center


.GameOver-Informations__title
    margin-bottom: 0.3em
    font-size: 2.5rem
    font-family: 'AllerDisplay', 'Helvetica Neue', sans-serif
    color: rgb(255, 255, 255)
    text-transform: uppercase
    text-align: center


.GameOver-Button 
    display: inline-block
    padding: 0.5rem 2rem
    margin: auto
    cursor: pointer
    border: 2px dashed rgb(255, 186, 0)
    border-radius: 1rem
    font-size: 0.8rem
    font-family: 'AllerDisplay', 'Helvetica Neue', sans-serif
    color: rgb(255, 186, 0)
    text-transform: uppercase
    line-height: 1.282


// .App
//   display: flex
//   flex-direction: column
//   justify-content: center
//   align-items: center
//   height: 100vh
//   width: 100vw
//
// .AlphaLetter
//   border: 2px solid black
//   height: 30px
//   width: 30px auto
//
// .Board
//   justify-content: center
//   align-items: center
//   margin-top: -75px
//
// .Letter
//   display: inline-block
//   width: 1em
//   text-align: center
//   border-bottom: 10px solid grey
//   color: transparent
//   margin: 0 0.05em
//   font-family: "Futura"
//   font-size: 100px
//
// .Word
//   font-family: 'nosifer'
//   font-size: 30px
//   font-size: 3em
//   margin-top: -225px
//   color: rgb(121, 21, 36)
//
// .Letter.revealed
//   color: inherit
