@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif
$design-font: 'Aguafina Script', cursive
$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'
$black: rgb(52, 53, 57)
$brown: rgba(227, 196, 144, 0.84)


@font-face
  font-family: 'One Piece'
  src: url('../onepiecefont.ttf') format('truetype')

#{$a-tags}
  color: rgba(26, 27, 28, 0.94)
  text-decoration: none

#{$a-tags-hover}
  color: blue

@mixin borderColors($width: 5px)
  border-top: $width solid rgb(173, 172, 171)
  border-bottom: $width solid rgb(88, 88, 88)
  border-left: $width solid rgb(173, 172, 171)
  border-right: $width solid rgb(88, 88, 88)

@mixin columnz
  display: flex
  flex-direction: column
  align-items: center

@mixin gameBg
  background-size: cover
  background-repeat: no-repeat
  margin: 10px
  height: 300px
  width: 450px

@mixin mangaGallery
  display: flex
  margin: 2vw
  justify-content: space-between
  background-position: center
  background-size: cover
  height: 450px
  width: 300px

@mixin rowsp
  display: flex
  flex-direction: row
  justify-content: space-between

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  padding: 0
  font: $base-text-size / 1 $base-font-family
  background-image: url('../images/oppbkgd.png')
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  overflow-x: hidden

main
  margin: 0
  padding: 0
  overflow: hidden

h1
  text-align: center
  justify-content: center
  text-transform: uppercase
  font-size: 7vw
  width: 100vw
  letter-spacing: 15px
  margin-top: 0
  color: $black
  text-shadow: 2px 2px grey
  font-family: 'One Piece'
  margin-bottom: 20px
  margin-top: 10px

h2
  margin: 0
  padding-top: 10px
  font-family: $design-font
  color: $black
  font-weight: bold
  text-align: center
  letter-spacing: 15px
  font-size: 3vw
  text-shadow: 2px 2px 2px white

h3
  align-content: center
  font-size: 1.5vw
  margin-top: -25px
  text-transform: uppercase

h4
  margin: 0
  padding: 0
  margin-top: -125px
  font-family: 'One Piece'
  font-size: 20vw
  text-align: center
  color: rgb(46, 139, 198)
  text-shadow: 5px 5px black

h5
  margin: 0
  display: flex
  padding-top: 2vw
  font-family: $design-font
  color: $black
  font-weight: bolder
  letter-spacing: 1vw
  font-size: 3.5vw
  text-shadow: 2px 2px 2px white
  width: 50vw

//Header/Navigation Bar
nav
  flex-wrap: wrap
  margin-top: -5px
  padding: 5px
  background-color: rgb(159, 170, 170)
  color: $black
  width: 100vw

.header1
  margin-top: -50px
  border-bottom: 5px solid grey
  height: 50vh
  width: 100vw

.colHeader
  display: flex
  flex-direction: row

#Search
  margin: 0
  padding: 0
  width: 325px
  height: 23px
  font-family: 'One Piece'
  color: grey
  font-size: 1em
  font-weight: bolder
  align-content: space-between

#submit
  width: 80px
  height: 25px
  font-family: 'One Piece'
  color: rgb(30, 30, 31)
  font-size: 1em
  font-weight: bolder
  text-transform: uppercase
  align-content: space-between

// Title Page
.title
  @include columnz
  margin: 0
  padding-top: 50px
  padding-bottom: 80px
  justify-content: center
  overflow: hidden
  text-decoration: none

.powerup
  display: flex
  justify-content: space-between
  margin: 0
  padding: 0
  width: 50vw
  height: 50vh
  position: relative
  margin-top: 200px

.oplogo
  padding: 20px
  height: 90vh
  width: 90vw
  justify-content: center
  align-content: center
  position: absolute

.titleh4
  margin-top: 10px
  margin-bottom: -10px

#noDots
  display: flex
  flex-wrap: wrap
  margin: 0
  padding-right: 40px
  @include rowsp
  list-style-type: none
  font-weight: bold

.noUnders
  text-decoration: none
  text-transform: uppercase
  font-family: 'One Piece'
  font-size: 3.5vw
  justify-content: space-around

//Home Page
.homePage
  @include columnz
  flex-wrap: wrap
  justify-content: center

.homePhotos
  display: flex
  flex-flow: row wrap
  justify-content: center
  font-family: 'One Piece'
  font-size: 4.5vw
  text-align: center
  color: white
  text-shadow: 5px 5px 5px black
  @include borderColors
  margin: 50px
  padding: 10px
  background-color: rgba(184, 87, 46, 0.74)
  width: 83vw

.homeFont
  font-family: $design-font
  font-size: 30px
  color: white
  letter-spacing: 3px

.bigPhoto
  @include columnz
  justify-content: center
  width: 500px
  align-content: center
  margin-bottom: 50px
  padding-top: 60px
  padding-right: 5vw
  padding-left: 5vw

.css-slideshow
  display: flex
  flex-wrap: nowrap
  max-width: 50vw
  height: 40vh
  justify-content: flex-start
  align-content: center
  padding-bottom: 20vh
  @include columnz

.css-slideshow figure
  margin: 0
  max-width: 70vw
  height: 60vh
  background: #000
  position: absolute
  @include borderColors

.css-slideshow img
  box-shadow: 0 0 2px #666
  max-width: 70vw
  height: 60vh

.css-slideshow figcaption
  position: absolute
  top: 0
  color: #fff
  background: rgba(0,0,0, .3)
  font-size: 3vw
  padding: 8px 12px
  opacity: 0
  transition: opacity .5s

.css-slideshow:hover figure figcaption
  transition: opacity .5s
  opacity: 1

.decor1
  padding: 20px
  width: 500px

.sideLinks
  @include columnz
  // width: 25vw

.sideImage1
  @include columnz
  width: 30vw

.animeHome
  height: 200px
  width: 300px

.decor2
  padding: 20px
  width: 300px

.sideImage2
  @include columnz

.mangaHome
  @include borderColors
  background-image: url('../images/chapter841.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 300px
  width: 200px

.homeIntro
  @include borderColors
  background-color: $brown
  padding: 15px
  width: 80vw
  align-content: center

figure:nth-child(1)
  animation: xfade 48s 42s infinite

figure:nth-child(2)
  animation: xfade 48s 36s infinite

figure:nth-child(3)
  animation: xfade 48s 30s infinite

figure:nth-child(4)
  animation: xfade 48s 24s infinite

figure:nth-child(5)
  animation: xfade 48s 18s infinite

figure:nth-child(6)
  animation: xfade 48s 12s infinite

figure:nth-child(7)
  animation: xfade 48s 6s infinite

figure:nth-child(8)
  animation: xfade 48s 0s infinite

@keyframes xfade
  0%
    opacity: 1

  10.5%
    opacity: 1

  12.5%
    opacity: 0

  98%
    opacity: 0

  100%
    opacity: 1

//CHARACTERS
.bioPage
  @include columnz

.bioImage
  @include borderColors
  height: 45vh
  width: 55vw

.bio
  padding: 15px
  @include borderColors
  word-wrap: break-word
  overflow: auto
  background-color: $brown
  margin-top: 25px
  font-family: 'helvetica'
  font-size: 1em
  letter-spacing: normal
  width: 70vw
  height: 50vh

.characterBio
  @include columnz

.characterLayout
  @include columnz

.characterImage
  @include borderColors
  padding: 20px
  background-image: url('../images/chopper1.gif')
  background-repeat: no-repeat
  background-size: cover
  justify-content: center
  width: 50vw
  height: 300px

.characterName
  margin: 0
  padding: 0
  text-align: justify
  font-weight: bolder
  font-family: 'One Piece'
  font-size: 60px
  color: rgb(31, 32, 33)


//DEVIL FRUITS
.DV
  display: flex
  justify-content: center

.devilFruits
  @include columnz
  justify-content: center

.devilFruitImage
  @include borderColors
  margin: 0
  padding: 10vw
  justify-content: center
  background-position: center
  background-image: url('../images/devilfruitimg.jpg')
  background-size: cover
  width: 60vw
  height: 50vh

.devilFruitBio
  @include borderColors
  background-color: rgba(246, 240, 209, 0.5)
  width: 95vw
  padding: 10px

.Beli
  height: 20px
  width: 20px

// ANIME PAGE
.chapterList
  @include columnz
  margin: 0
  background-image: url('../images/scroll.gif')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  text-align: center
  justify-content: center
  height: 60vh
  width: 75vw

.videos
  @include columnz
  font-weight: bolder

// Episode 757
.video1
  margin: 20px
  width: 50%
  @include columnz

// Episode 756
.video2
  margin: 20px
  @include columnz

// Episode 755
.video3
  margin: 20px
  @include columnz

// Episode 754
.video4
  margin: 20px
  @include columnz

// MANGA PAGE
.chapterList2
  @include columnz
  margin-left: 20vw
  margin-top: -10vh
  background-image: url('../images/scroll.gif')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  justify-content: center
  text-align: center
  height: 60vh
  width: 65vw

.mangaSection


.mangaRow1
  @include rowsp
  display: flex
  flex-flow: row wrap
  justify-content: center

//chapter 841
.recent1
  @include borderColors
  background-image: url('../images/chapter841.jpg')
  @include mangaGallery

//chapter 840
.recent2
  @include borderColors
  background-image: url('../images/chapter840.jpg')
  @include mangaGallery

//chapter 839
.recent3
  @include borderColors
  background-image: url('../images/chapter839.png')
  @include mangaGallery

//chapter 838
.recent4
  @include borderColors
  background-image: url('../images/chapter838.png')
  @include mangaGallery

//Chapter 837
.recent5
  @include borderColors
  background-image: url('../images/chapter837.jpg')
  @include mangaGallery
  text-decoration: none
  font-weight: bolder
  color: black
  text-align: center

//chapter 836
.recent6
  @include borderColors
  background-image: url('../images/chapter836.png')
  @include mangaGallery

//GAMES PAGE
.gameGallery1
  // @include rowsp
  display: flex
  flex-flow: row wrap
  justify-content: center
  padding: 5vw

.game1
  background-image: url('../images/fill_in_img.jpg')
  @include gameBg
  @include borderColors

.game2
  background-image: url('../images/fill_in_img.jpg')
  @include gameBg
  @include borderColors


//Memory game
.memoryGame
  @include columnz
  // justify-content: center
  // margin: 10vw

.memoryBoard
  // overflow: scroll
  height: 82vh
  width: 67vw
  align-items: center
  background-color: rgba(177, 80, 21, 0.5)
  border-top: 5px solid rgb(182, 40, 2)
  border-bottom: 5px solid rgba(103, 10, 10, 1)
  border-left: 5px solid rgb(182, 40, 2)
  border-right: 5px solid rgba(103, 10, 10, 1)
  background-repeat: no-repeat
  text-align: center
  justify-content: center
  margin-bottom: 20px

.card
  margin: 3px
  border: solid 3px rgb(198, 232, 233)
    border-radius: 2px
  height: 25vh
  width: 10vw
  text-align: center
  margin-bottom: 5px
  background-size: cover
  border: 2px solid black

  &.up
    background-color: rgb(223, 224, 221)
    background-size: cover

.youWin
  padding-top: 100px
  justify-content: center
  text-align: center
  align-self: center

.resetButton
  padding-top: 105px
  background-image: url('http://is2.mzstatic.com/image/thumb/Purple5/v4/ff/e8/e1/ffe8e19d-cac3-1aa4-9f79-c827036fb215/mzl.balclcui.png/0x0ss-85.jpg')
  height: 200px
  width: 200px
  background-size: cover
  border-radius: 50px
  color: red
  text-shadow: 3px 3px 3px white
  font-weight: bolder
  font-size: 30px

// HANGMAN
.hangman
  @include columnz
  justify-content: space-between
  align-self: center
  height: 100vh
  width: 100vw
  padding: 20px n

.Word
  // width: 50vw
  font-size: 10px


//Forums Page
.forumPage
  @include columnz

.forumLink
  @include columnz
  font-family: 'One Piece'
  font-size: 30px
  font-weight: bolder
  letter-spacing: 10px
  text-transform: uppercase
  color: red
  #opfont
    font-size: 2.3vw

.forumLink2
  @include borderColors
  text-decoration: none
  background-image: url('../images/strawhatlogo.png')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  display: flex
  background-color: grey
  height: 100px
  width: 200px



//Footer Page
footer
  @include rowsp
  height: 13vh
  bottom: 0
  padding: 3vw
  align-self: baseline
  margin-top: 25px
  columns: 2
  background-color: rgb(163, 179, 228)
  border-top: 5px solid rgb(159, 170, 170)

.resources
  @include columnz
  font-size: 1vw
  padding-top: 2.5vw
  justify-content: space-around

.credits
  @include columnz
  font-size: 1vw
  padding-top: 2.5vw
  justify-content: space-around

.copy
  display: flex
  flex-wrap: wrap
  padding-top: 2vw
  color: white
  font-size: 2.5vw
  font-weight: bolder
  // align-self: baseline
