@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  display: flex
  flex-wrap: wrap
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family

h1
  justify-content: center

.header1
  border-bottom: 5px solid grey
  height: 300px
  width: 100vw

.titlePageArt
  background-image: url('http://img05.deviantart.net/eb84/i/2011/355/9/b/wallpaper_of_one_piece_by_g_1103-d4jrdxq.png')
  background-size: cover

.HomeButton
  font-weight: bold
  text-decoration: none
  justify-content: center
  align-items: baseline
  width: 200px
  border: 5px solid blue
  background-color: grey
  color: black

.noUnders
  text-decoration: none
