@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif
$design-font: 'Aguafina Script', cursive

// @font-face
//     font-family: 'OnePiece'
//     src: url('./onepiecefont.ttf')
//     font-weight: bold

@mixin mobile
  max-height: 100%
  max-width: 100%
  justify-content: center
  align-items: center
  text-align: center

@mixin borderColors($width: 5px)
  border-top: $width solid grey
  border-bottom: $width solid rgb(88, 88, 88)
  border-left: $width solid grey
  border-right: $width solid rgb(88, 88, 88)

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  @include mobile
  margin: 0
  font: $base-text-size / 1 $base-font-family
  background-image: url('http://wallpapercave.com/wp/wQub3px.jpg')
  background-attachment: fixed
  background-repeat: no-repeat
  height: 100vh
  width: 100vw
  overflow-x: hidden

main
  position: static
  overflow: hidden
  padding-left: 100px
  padding-right: 100px
  @include mobile

h1
  text-align: center
  justify-content: center
  text-transform: uppercase
  font-family: $design-font
  font-size: 90px
  letter-spacing: 15px
  margin-top: 0
  margin-bottom: -25px
  color: rgb(52, 53, 57)
  text-shadow: 2px 2px grey
  @include mobile

h2
  margin: 0
  padding-top: 10px
  font-family: $design-font
  color: rgb(52, 53, 57)
  text-align: center
  letter-spacing: 15px
  font-size: 35px
  text-shadow: 2px 2px grey

nav
  margin: 0
  margin-top: -5px
  padding: 0
  font-weight: bolder
  justify-content: space-between
  align-content: center
  background-color: rgb(159, 170, 170)
  align-content: space-between

.header1
  border-bottom: 5px solid grey
  height: 300px
  width: 100vw

.title
  display: flex
  margin: 0
  padding: 0
  padding-bottom: 50px
  flex-direction: column
  justify-content: center
  align-items: center
  background-size: cover
  width: 100vw
  height: 100vh
  overflow: hidden

.oplogo
  height: 500px
  width: 1000px
  justify-content: center
  align-content: center

.HomeButton
  margin: 0
  padding: 20px
  font-size: 20px
  align-self: center
  display: flex
  font-weight: bold
  text-decoration: none
  justify-content: centers
  height: 50px
  width: 250px
  border: 5px solid blue
  background-color: grey
  border-radius: 10px
  color: black

#noDots
  margin: 0
  display: flex
  flex-direction: row
  list-style-type: none
  justify-content: space-between
  font-weight: bold

.noUnders
  text-decoration: none
  text-transform: uppercase

.homePage
  margin-left: 100px
  margin-right: 100px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  justify-content: space-around

.p
  @include mobile

.sideLinks
  display: flex
  flex-direction: column

.characterImageHome
  @include borderColors
  @include mobile
  height: 500px
  width: 600px
  margin-bottom: 50px

.devilFruitHome
  @include borderColors
  @include mobile
  height: 200px
  width: 250px
  margin-bottom: 50px
  margin-top: -50px

.gamesHome
  @include borderColors
  @include mobile
  height: 200px
  width: 250px

.gameGallery1
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-bottom: 25px

.gameGallery2
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-bottom: 25px

.gameGallery3
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-bottom: 25px

.game1
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.game2
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.game3
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.game4
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.game5
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.game6
  background-image: url('http://4.bp.blogspot.com/-BxC2ApZYD4M/Uh8LymWXQ3I/AAAAAAAAABs/ishlPrvu4R0/s1600/2a65286fa50ef880dc5bd407f61fe164.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  width: 500px
  @include borderColors

.forumLink
  @include borderColors
  padding: 0
  margin: 0
  display: flex
  text-align: center
  justify-content: center
  align-items: center
  text-decoration: none
  background-color: grey
  color: white
  font-weight: bolder
  height: 100px
  width: 250px
  font-size: 15px
  font-family: $design-font
  letter-spacing: 10px

footer
  padding-right: 175px
  display: flex
  flex-direction: row
  height: 100px
  align-items: baseline
  background-color: rgb(200, 209, 236)
  position: absolute
  width: 100vw
  justify-content: space-between

.resources
  display: flex
  flex-direction: column

.api
  display: flex
  flex-direction: column

.credits
  display: flex
  flex-direction: column

h3
  text-transform: uppercase

.copy
    color: white
    font-size: 20px
    font-weight: bolder
    display: flex
    align-self: baseline

h4
  margin: 0
  padding: 0
  margin-top: -100px
  font-family: 'One Piece'
  font-size: 200px
  text-align: center
  color: rgb(32, 114, 166)
  text-shadow: 5px 5px 5px black

.luffypowerup
  width: 300px
  height: 300px
